.main-font {
    font-family: 'IBM Plex Mono', monospace;
}


.font-weight-600 {
    font-weight:600;
}

.font-weight-900 { 
    font-weight:900;
}


body {
    background-color:#EEEEEE;
}



.point-card:nth-child(even) {
    background-color: #fff;
}

.point-card:nth-child(odd) {
    background-color: #ebe8e8;
}



.height-50px {
    height:50px;
}

.top-1p {
    top:1%;
}

.transform {
    transform:translate(-50%, -50%);
}

.height {
    height:70px;
}

.darkcolor {
    background-color: #15151E;
}

.col {
    color: #555;
    transition: .5s;
}

.col:hover {
    background-color: #181822;
    color: #ccc;
}